body {
    font-family: "CustomFont";
    src: url("https://nlsteadman.github.io/ractivity/css/fonts/neonneon.woff") format("woff"),
    src: url("https://nlsteadman.github.io/ractivity/css/fonts/neonneon.otf") format("opentype");
}