body {
    font-family: "Phosphate", sans-serif;
    color: #000;
    text-align: center;
}

#activityButton {
    width:300px;
    height: 70px;
    margin-top: 10px;
    border:6px solid rgb(166, 236, 238);
    color:hotpink;
    font-family:phosphate;
    padding:5px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 80px;
    color: hotpink;
    letter-spacing: 3px;
    
}

h3 {
    font-size: 20px;
    letter-spacing: 1px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#likeButton {
    width:300px;
    height: 70px;
    margin-top: 10px;
    border:6px solid rgb(166, 236, 238);
    color:rgb(28, 190, 196);
    font-family:phosphate;
    padding:5px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

#activityButton:hover {
    cursor:pointer;
    background:rgb(243, 165, 204);
    color: #fff;
}

#activityButton:active{
    cursor: pointer;
}

#likeButton:hover {
    cursor:pointer;
    background: rgb(166, 236, 238);
    color: #fff;
}

#likeButton:active{
    cursor: pointer;
}

#activityDisplay {
    font-size: 15px;
}

#likedActivities {
    font-size: 15px;
}